<html>
<title>Flowers AI</title>
<!-- stylesheets -->
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
<!-- <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">-->
<div class="row">
 
  <div class="col-md-7 col-lg-offset-3 text-center">
    <h1>Определение художника по картине</h1> 	<h2>Загрузите изображение</h2>
    <br>
    <table class="table" id="results-table">
        <tr>
          <th>Изображение</th>
          <th>Художник</th>
        </tr>
		<tr>
          {% block content %}{% endblock %}
        </tr>
    </table>
<!--	 <form action="" method=post enctype=multipart/form-data>
      <input type=file name=file> 
	
	  <input type=submit value=Predict> 
    </form>-->
   <!-- <div class="col-md-4"></div>-->
    <div class="col-md-4 col-lg-offset-3 text-center">
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" id="files" name="file" >
            <p style="text-align: right; margin-top: 20px;">
                <input type="submit" value="Предсказать" class="btn btn-lg btn-primary" >
            </p>
        </form>
    </div>
 <!--   <div class="col-md-4"></div>-->

  </div>
 
</div>

</html>
